[color]
  status = auto
  diff   = auto
  log    = auto

[color "diff"]
  meta = blue bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[alias]
  co = checkout
  ci = commit
  st = status
  up = pull --rebase
  di = diff
  lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches

[log]
  date = local

[i18n]
  logOutputEncoding = utf-8

[user]
  name  = Arinobu FUKUHARA
  email = afukuhara@gmail.com

